.stack-nav,
.search-nav,
.user-detail {
    vertical-align: middle;
    display: inline-block;
    padding: 8px 0;
    height: inherit;
}

.stack-nav i {
    font-size: 200%;
    font-weight: 200;
}

.search-nav input {
    border: 0;
    border-radius: 50px;
    height: 25px;
    width: 190px;
    margin: 7px 0;
    outline: none;
}

.user-detail {
    float: right;
}

.user-detail p {
    font-size: 80%;
    font-weight: 400;
    display: inline-block;
    padding: 10px 0;
}

.user-detail i {
    vertical-align: middle;
}