.container {
    background: linear-gradient(310deg, #070707ef, #0e0e0e52);
    height: calc(100vh - 80px);
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;

}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-bottom: 0;
    padding: 0;
    outline: none;
}

.btn-full {
    padding: 9px 35px;
    font-weight: 600;
    border-radius: 200px;
    font-size: 70%;
    letter-spacing: 2px;
    background-color: #1db954;
    border: 1px solid #1db954;
    color: #fff;
    margin-right: 15px;
    transition: transform 50ms ease-in, background-color 70ms ease-in;
}

.btn-ghost {
    border: 1.5px solid #c2c2c2;
    color: #e2e2e2;
    padding: 6px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 50ms ease-in, background-color 70ms ease-in,
        border 60ms ease-in-out;
}

.btn-full:hover {
    transform: scale(1.07);
    background-color: #22d460;
}

.btn-ghost:hover {
    transform: scale(1.08);
    color: #fff;
    border: 1.5px solid #fff;
}

.btn i {
    margin-right: 0;
    font-size: 15px !important;
}

.active {
    border-left: 5px solid #22d460 !important;
    color: #fff !important;
}